/* CSS 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* font-family: 'Noto Serif KR', serif;	 */
	font-family: 'Noto Sans KR', sans-serif;
}

*{
	outline: none;
	text-decoration: none;

}
input[type="text"]{
	border-radius: 0; /* iSO 둥근모서리 제거 */
	/* outline-style: none; 포커스시 발생하는 효과 제거를 원한다면 */
	-webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */
}
/* button{
	font-family: 'Noto Serif KR', serif;
} */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    /* margin:0 auto; */
    position: static;
	font-family: 'Noto Sans KR', sans-serif;
}

.nav-bar{
	margin: 0;
}

audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
    display: none;
}
audio::-webkit-media-controls,
video::-webkit-media-controls {
    display: none;
}



/* css */

.form1{
	text-align: center;
}
.contentEmail{
	font-size: 1.8rem;
	font-weight: bold;
}
.subcontentEmail{
	font-size: 0.9rem;
	color:#505050;
}
.email_field{
	margin: 3%;
	background:transparent;

}
#email{
	border-radius: 5px;
	width: 40%;
	height:30px;
	border:2.5px solid rgba(68, 68, 68, 0.904);
}

.submit{
	margin-top: 1.8%;
	border-radius:5px;
	border: 1px solid #000000;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	font-weight: bold;
	padding: 1% 8% 1% 8%;
}


/*  */

.body{
	font-family: 'Noto Sans KR', sans-serif;
}
.form-wrapper {
	max-width: 90%;
	/* min-width: 300px; */
	padding: 70px 30px 70px 30px;
	margin: 25px 5%;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
}


/* 소윤 파트 */

.box1{
	width: 100%;
	height: 90vh;
	background-color: #000000;
	position: relative;
 }

 .div_text1_1{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	top: 30%;
	left: 10%;
	position: absolute;
 }

 .text1_1 {
	color: #ffffff;
	font-size: 3rem;
	text-align: left;
	line-height: 150%;
 }

 .img1_1{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	top: 8%;
	left: 50%;
	position: absolute;
	width: 86.5vh;
	z-index: 100;
 }

 .box2{
	width: 100%;
	height: 90vh;
	background-color: white;
	position: relative;

 }



/*  */

/* 아림파트 */
.d0{
	margin-bottom: 5%;
}
.d1{
	margin-bottom: 10%;
}
.d3{
	margin-bottom: 30%;
}
.d{
	margin-bottom: 40%;
}
.d2{
	margin-bottom: 45%;
}

.one{
	color:#ffb52c;
}

#img3_1{
	flex-direction: column;
	align-content: center;
	justify-content: center;
	text-align: center;
	display: flex;
	margin-top: 15%;
	left: 50%;
	right: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	/* width: 87.5vh; */
	min-width: 300px;
	max-width: 1000px;
}
.box00{
	background-color: #0000009d;
}

.img22{
	width: 60%;
	height: auto;
	margin-top: 10%;
}
.img23{
	width: 100%;
 } 

/* 미디어쿼리!!! */



/*  */
/*  */
/* bootstrap */

  a {
	text-decoration: none;
	color: #7cc576;
  }

  a:hover {
	color: #9ed49a;
	text-decoration: none;
  }

  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: #ffc60c;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.4s;
  }

  .back-to-top i {
	font-size: 28px;
	color: #fff;
	line-height: 0;
  }

  .back-to-top:hover {
	background: #ffe572;
	color: #fff;
  }

  .back-to-top.active {
	visibility: visible;
	opacity: 1;
  }

  /*--------------------------------------------------------------
  # Disable AOS delay on mobile
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
	[data-aos-delay] {
	  transition-delay: 0 !important;
	}
  }

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
	height: 90px;
	transition: all 0.5s;
	z-index: 997;
	transition: all 0.5s;
	background: #fff;
	box-shadow: 0 4px 10px -3px rgba(191, 191, 191, 0.5);
  }

  #header .logo h1 {
	font-size: 28px;
	margin: 0;
	line-height: 1;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
  }

  #header .logo h1 a, #header .logo h1 a:hover {
	color: #fff;
	text-decoration: none;
  }

  #header .logo img {
	padding: 0;
	margin: 0;
	max-height: 40px;
  }

  @media (max-width: 992px) {
	#header {
	  height: 70px;
	}
  }

  .scrolled-offset {
	margin-top: 90px;
  }

  @media (max-width: 992px) {
	.scrolled-offset {
	  margin-top: 90px;
	}
  }

  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
	width: 100%;
	height: 100vh;
	position: relative;
  }

  #hero .hero-container {
	position: absolute;
	bottom: 33%;
	left: 9.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 0 15px;
  }

  #hero .btn-get-started {
	/* font-family: "Montserrat", sans-serif; */
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
	/* display: inline-block; */
	padding: 10px 30px;
	border-radius: 3px;
	/* margin: 10px; */
	color: #000000;
	background: #fcfcfc;
	border: 2.5px solid #ffce2c63;;
  }

  #hero .btn-get-started:hover {
	transition: 0.5s;
	background: #ffce2c;
	color: #ffffff;
  }

  @media (min-width: 1024px) {
	#hero {
	  background-attachment: fixed;
	}
  }

  @media (max-width: 768px) {
	#hero h1 {
	  font-size: 28px;
	  line-height: 36px;
	}
	#hero h2 {
	  line-height: 22px;
	}
  }

  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
	padding: 60px 0;
	overflow: hidden;
  }

  .section-bg {
	background-color: whitesmoke;
  }

  .section-title {
	text-align: center;
	padding-bottom: 40px;
	margin-top: 20%;
  }

  .section-title h2{
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
	padding-bottom: 0;
	color: #151515;
	line-height: 40px;
  }

  .section-title p {
	margin-bottom: 0;
	color: #aeaeae;
  }
.s1{
	color: #ffb731ea;
}
.c{
	color: rgb(255, 72, 0);
}
.l{
	color: #ffb52c;
}
.a{
	color: #1673ff;
}
.y{
	color: #1a9c2b;
}



/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about1{
	height:auto;
  }

  .about .image {
	/* padding: 20px; */
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }

  .about .content{
	margin-top:30%;
	text-align: center;
  }
  .about .content h2 {
	font-size: 2.5rem;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
	padding-bottom: 0;
	color: #151515;
	line-height: 40px;
  }

  .about .content p {
	text-align: center;
	margin-left:0%;
	font-size: 1.2rem;
  }
  .about .content p:last-child {
	margin-bottom: 0;
  }
  .txt_bold{
	  font-weight: bold;
  }
 /* #img2_1{
	margin-left: 30%;
	position: absolute;
	min-width: 250px;
	max-width: 1000px;
	height: auto;

 } */

  /* about1 > row portfolio-container{
	  position: absolute;
	  left:10%;

  } */
  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  .services .icon-box h4 {
	font-size: 20px;
	font-weight: 700;
	margin: 5px 0 10px 60px;
  }

  .services .icon-box i {
	font-size: 48px;
	float: left;
	color: #7cc576;
  }

  .services .icon-box p {
	font-size: 15px;
	color: #959595;
	margin-left: 60px;
  }

  .services .image {
	/* background-position: center  center; */
	background-repeat: no-repeat;
	background-size: cover;
  }

  .services .content{
	margin-top:10%;
	text-align: center;
   }

  .services .content h2 {
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
	padding-bottom: 0;
	color: #151515;
	line-height: 40px;
  }


  .services .content p {
	text-align: center;
	margin-left:0%;
	font-size: 1.2rem;
  }





/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	/* background: url("../img/footer-bg.jpg") center center no-repeat; */
	color: #fff;
	font-size: 14px;
	position: relative;
  }

#footer::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.85);
	z-index: 1;
  }

#footer .footer-top {
	position: relative;
	z-index: 2;
	text-align: center;
	padding: 80px 0;
  }

#footer .footer-top .footer-logo img {
	height: 50px;
  }

#footer .footer-top h3 {
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	position: relative;
	/* font-family: "Poppins", sans-serif; */
	padding: 10px 0 0 0;
	margin-bottom: 0;
  }

#footer .footer-top p {
	font-size: 15;
	font-style: italic;
	margin: 10px 0 0 0;
	padding: 0;
  }

#footer .footer-top .footer-newsletter {
	text-align: center;
	font-size: 15px;
	margin-top: 10px;
  }

#footer .footer-top .footer-newsletter form {
	background: #fff;
	padding: 6px 10px;
	position: relative;
	border-radius: 50px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	text-align: left;
  }


  #footer .footer-top .social-links {
	margin-top: 20px;
  }


  #footer .footer-bottom {
	border-top: 1px solid #222222;
	z-index: 2;
	position: relative;
	padding-top: 10px;
	padding-bottom: 40px;
  }

  #footer .copyright {
	text-align: center;
  }

  #footer .credits {
	text-align: center;
	font-size: 13px;
	padding-top: 5px;
  }

  .foot{
	  background-color: white ;
	  color: #222222;
	  /* padding: 10% 10%; */
  }

  .overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 900;
  }

  .overlay:target {
	visibility: visible;
	opacity: 1;
  }

  .popup {
	position: fixed;
	width: 60%;
	padding: 10px;
	max-width: 500px;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, .9);
	/* "delay" the visibility transition */
	-webkit-transition: opacity .5s, visibility 0s linear .5s;
	transition: opacity .5s, visibility 0s linear .5s;
	z-index: 1;
  }

  .popup:target {
	visibility: visible;
	opacity: 1;
	/* cancel visibility transition delay */
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
  }

  .popup-close {
	position: absolute;
	padding: 10px;
	max-width: 500px;
	border-radius: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, .9);
  }

  .popup .close {
	position: absolute;
	right: 5px;
	top: 5px;
	padding: 5px;
	color: #000;
	transition: color .3s;
	font-size: 2em;
	line-height: .6em;
	font-weight: bold;
  }

  .popup .close:hover {
	color: #00E5EE;
  }

  /* 표지 미디어쿼리 */
@media (max-width: 3000px) {
    #img3_1{
       max-width: 1300px!important;
	   margin-top: 22%!important;
     }
  }
@media (max-width: 1200px) {
   .img1_1{
      width: 50%;
    }
    #img3_1{
		width: 1200px;
    	margin-top: 20%!important;
     }
  }
@media (max-width: 1024px) {
   .img1_1{
      width: 50%;
      top: 20%;
    }
    #hero .hero-container {
      bottom: 32%;
     }
     #img3_1{
		width: 1000px;
		margin-top: 25%!important;
    }
  }
  @media (max-width: 950px) {
	.img1_1{
	   width: 50%;
	   top: 20%;
	 }
	 #hero .hero-container {
	   bottom: 32%;
	  }
   }

@media (max-width: 850px) {
   .img1_1{
      width: 50%;
      top: 30%;
    }
	#img3_1{
		margin-top: 30%!important;
	}
    #hero .hero-container {
      bottom: 33%;
     }
    #about_content{
	   margin-bottom: 15%!important;
    }
	#service_content{
	   margin-bottom: 15%!important;
	}
 }

 @media (max-width: 640px) {
	.img1_1{
	   position: absolute;
	   width: 80%;
	   top: 45%;
	   left: 10%;
	 }
	 .box1{
	   height: 110vh;
	   background-color: #000000;
	 }
	 .div_text1_1{
	   display: flex;
	   flex-direction: column;
	   align-content: center;
	   justify-content: center;
	   top: 10%;
	   left: 10%;
	   position: absolute;
	 }
	 .text1_1 {
	   font-size: 2.5rem;
	 }
	 #hero .hero-container {
	   bottom: 55%;
	  }
	  .contentEmail{
	   font-size: 1.7rem!important;
	}
	::placeholder {
	   font-size: 1rem;
	  }
	  #email{
	   width: 80%!important;
	}
	#img3_1{
	width: 150%;
	}
	.about1 h2{
	   font-size: 30px!important;
	}
  }
 @media (max-width: 415px) {
	#img3_1{
	   width: 150%;
	 }
	.img1_1{
	   position: absolute;
	   width: 85%;
	   top: 48%;
	   left: 10%;
	 }
	 .text1_1 {
	   font-size: 2rem;
	 }
	 .div_text1_1{
	   top: 15%;
	   left: 10%;
	 }
	.form-wrapper{
	   padding: 5%;
	}
	 .contentEmail{
	   font-size: 1.7rem!important;
	}
	.subcontentEmail{
	   font-size: 0.85rem!important;
	}
	::placeholder {
	   font-size: 0.8rem;
	  }
	.submit{
      font-size: 0.8rem;
   }
   #email{
      width: 80%!important;
   }
   .about1 h2{
	font-size: 25px!important;
	}
	.about1 p{
	font-size: 16px!important;
	}
}

  .cd-popup {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(65, 65, 65, 0.726);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	transition: opacity 0.3s 0s, visibility 0s 0.3s;
  }
  .cd-popup.is-visible {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0s;
	transition: opacity 0.3s 0s, visibility 0s 0s;
  }

  .cd-popup-container {
	position: relative;
	width: 90%;
	max-width: 400px;
	margin: 60% auto auto auto;
	background: #FFF;
	border-radius: .25em .25em .4em .4em;
	text-align: center;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-webkit-transform: translateY(-40px);
	-moz-transform: translateY(-40px);
	-ms-transform: translateY(-40px);
	-o-transform: translateY(-40px);
	transform: translateY(-40px);
	/* Force Hardware Acceleration in WebKit */
	/* -webkit-backface-visibility: hidden; */
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
  }
  .cd-popup-container p {
	padding: 3em 1em;
	font-size: 1rem;
  }
  .cd-popup-container .cd-buttons:after {
	content: "";
	display: table;
	clear: both;
  }
  .cd-popup-container .cd-buttons li {
	float: left;
	width: 50%;
	list-style: none;
  }
  .cd-popup-container .cd-buttons a {
	display: block;
	height: 60px;
	line-height: 60px;
	text-transform: uppercase;
	color: #FFF;
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	transition: background-color 0.2s;
  }
  .cd-popup-container .cd-buttons li:first-child a {
	background: #fc7169;
	border-radius: 0 0 0 .25em;
  }
  .no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
	background-color: #fc8982;
  }
  .cd-popup-container .cd-buttons li:last-child a {
	background: #b6bece;
	border-radius: 0 0 .25em 0;
  }
  .no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
	background-color: #c5ccd8;
  }
  .cd-popup-container .cd-popup-close {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
  }
  .cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
	content: '';
	position: absolute;
	top: 12px;
	width: 14px;
	height: 3px;
	background-color: #696969;
  }
  .cd-popup-container .cd-popup-close::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	left: 8px;
  }
  .cd-popup-container .cd-popup-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	right: 8px;
  }
  .is-visible .cd-popup-container {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
  }
  @media only screen and (min-width: 1170px) {
	.cd-popup-container {
	  margin: 8em auto;
	}
  }
