/* CSS 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* font-family: 'Noto Serif KR', serif;	 */
	font-family: 'Noto Sans KR', sans-serif;
}

*{
	outline: none;
	text-decoration: none;

}
input[type="text"]{
	border-radius: 0; /* iSO 둥근모서리 제거 */
	/* outline-style: none; 포커스시 발생하는 효과 제거를 원한다면 */
	-webkit-appearance: none; /* 브라우저별 기본 스타일링 제거 */
}
/* button{
	font-family: 'Noto Serif KR', serif;
} */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    /* margin:0 auto; */
    position: static;
	font-family: 'Noto Sans KR', sans-serif;
}

.nav-bar{
	margin: 0;
}

audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
    display: none;
}
audio::-webkit-media-controls,
video::-webkit-media-controls {
    display: none;
}



/* css */

.form1{
	text-align: center;
}
.contentEmail{
	font-size: 1.8rem;
	font-weight: bold;
}
.email_field{
	margin: 3%;
	background:transparent;

}
#email{
	border-radius: 5px;
	width: 40%;
	height:30px;
	border:2.5px solid rgba(68, 68, 68, 0.904);
}

.submit{
	margin-top: 1.8%;
	border-radius:5px;
	border: 1px solid #000000;
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	font-weight: bold;
	padding: 1% 8% 1% 8%;
}


/*  */

.body{
	font-family: 'Noto Sans KR', sans-serif;
}

.form-wrapper {
	max-width: 80%;
	/* min-width: 300px; */
	padding: 70px 30px 70px 30px;
	margin: 50px auto;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
  }


/* 소윤 파트 */

.box1{
	width: 100%;
	height: 90vh;
	background-color: #000000;
	position: relative;
 }

 .div_text1_1{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	top: 30%;
	left: 10%;
	position: absolute;
 }

 .text1_1 {
	color: #ffffff;
	font-size: 3rem;
	text-align: left;
	line-height: 150%;
 }

 .img1_1{
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	top: 8%;
	left: 50%;
	position: absolute;
	width: 86.5vh;
	z-index: 100;
 }

 .box2{
	width: 100%;
	height: 90vh;
	background-color: white;
	position: relative;

 }



/*  */

/* 아림파트 */
.d0{
	margin-bottom: 7%;
}
.d1{
	margin-bottom: 10%;
}
.d{
	margin-bottom: 40%;
}
.d2{
	margin-bottom: 45%;
}





/*  */
/*  */
/* bootstrap */

  a {
	text-decoration: none;
	color: #7cc576;
  }

  a:hover {
	color: #9ed49a;
	text-decoration: none;
  }

  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: #ffc60c;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.4s;
  }

  .back-to-top i {
	font-size: 28px;
	color: #fff;
	line-height: 0;
  }

  .back-to-top:hover {
	background: #ffe572;
	color: #fff;
  }

  .back-to-top.active {
	visibility: visible;
	opacity: 1;
  }

  /*--------------------------------------------------------------
  # Disable AOS delay on mobile
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
	[data-aos-delay] {
	  transition-delay: 0 !important;
	}
  }

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
	height: 90px;
	transition: all 0.5s;
	z-index: 997;
	transition: all 0.5s;
	background: #fff;
	box-shadow: 0 4px 10px -3px rgba(191, 191, 191, 0.5);
  }

  #header .logo h1 {
	font-size: 28px;
	margin: 0;
	line-height: 1;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
  }

  #header .logo h1 a, #header .logo h1 a:hover {
	color: #fff;
	text-decoration: none;
  }

  #header .logo img {
	padding: 0;
	margin: 0;
	max-height: 40px;
  }

  @media (max-width: 992px) {
	#header {
	  height: 70px;
	}
  }

  .scrolled-offset {
	margin-top: 90px;
  }

  @media (max-width: 992px) {
	.scrolled-offset {
	  margin-top: 90px;
	}
  }

  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
	width: 100%;
	height: 100vh;
	position: relative;
  }

  #hero .hero-container {
	position: absolute;
	bottom: 33%;
	left: 9.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 0 15px;
  }

  #hero .btn-get-started {
	/* font-family: "Montserrat", sans-serif; */
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
	/* display: inline-block; */
	padding: 10px 30px;
	border-radius: 3px;
	/* margin: 10px; */
	color: #000000;
	background: #fcfcfc;
	border: 2.5px solid #ffce2c63;;
  }

  #hero .btn-get-started:hover {
	transition: 0.5s;
	background: #ffce2c;
	color: #ffffff;
  }

  @media (min-width: 1024px) {
	#hero {
	  background-attachment: fixed;
	}
  }

  @media (max-width: 768px) {
	#hero h1 {
	  font-size: 28px;
	  line-height: 36px;
	}
	#hero h2 {
	  line-height: 22px;
	}
  }

  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
	padding: 60px 0;
	overflow: hidden;
  }

  .section-bg {
	background-color: whitesmoke;
  }

  .section-title {
	text-align: center;
	padding-bottom: 40px;
  }

  .section-title h2{
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 15px;
	padding-bottom: 0;
	color: #151515;
	line-height: 40px;
  }

  .section-title p {
	margin-bottom: 0;
	color: #aeaeae;
  }
.s1{
	color: #ffb731ea;
}
.c{
	color: rgb(255, 72, 0);
}
.l{
	color: #ffb52c;
}
.a{
	color: #1673ff;
}
.y{
	color: #1a9c2b;
}



/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about1{
	height:auto;
  }

  .about .image {
	/* padding: 20px; */
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }

  .about .content{
	margin-top:30%;
	text-align: start;
  }
  .about .content h3 {
	font-weight: 600;
	font-size: 26px;
  }

  .about .content p:last-child {
	margin-bottom: 0;
  }
  .txt_bold{
	  font-weight: bold;
  }
 #img2_1{
	margin-left: 30%;
	position: absolute;
	min-width: 250px;
	max-width: 1000px;
	height: auto;

 }


  /* about1 > row portfolio-container{
	  position: absolute;
	  left:10%;

  } */
  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  .services .icon-box h4 {
	font-size: 20px;
	font-weight: 700;
	margin: 5px 0 10px 60px;
  }

  .services .icon-box i {
	font-size: 48px;
	float: left;
	color: #7cc576;
  }

  .services .icon-box p {
	font-size: 15px;
	color: #959595;
	margin-left: 60px;
  }

  .services .image {
	/* background-position: center  center; */
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 400px;
  }

  .services .content{
	margin-top:20%;
	text-align: start;
  }

  .services .content h3 {
	font-weight: 600;
	font-size: 26px;
  }







/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	/* background: url("../img/footer-bg.jpg") center center no-repeat; */
	color: #fff;
	font-size: 14px;
	position: relative;
  }

#footer::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.85);
	z-index: 1;
  }

#footer .footer-top {
	position: relative;
	z-index: 2;
	text-align: center;
	padding: 80px 0;
  }

#footer .footer-top .footer-logo img {
	height: 50px;
  }

#footer .footer-top h3 {
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	position: relative;
	/* font-family: "Poppins", sans-serif; */
	padding: 10px 0 0 0;
	margin-bottom: 0;
  }

#footer .footer-top p {
	font-size: 15;
	font-style: italic;
	margin: 10px 0 0 0;
	padding: 0;
  }

#footer .footer-top .footer-newsletter {
	text-align: center;
	font-size: 15px;
	margin-top: 10px;
  }

#footer .footer-top .footer-newsletter form {
	background: #fff;
	padding: 6px 10px;
	position: relative;
	border-radius: 50px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	text-align: left;
  }


  #footer .footer-top .social-links {
	margin-top: 20px;
  }


  #footer .footer-bottom {
	border-top: 1px solid #222222;
	z-index: 2;
	position: relative;
	padding-top: 10px;
	padding-bottom: 40px;
  }

  #footer .copyright {
	text-align: center;
  }

  #footer .credits {
	text-align: center;
	font-size: 13px;
	padding-top: 5px;
  }

  .foot{
	  background-color: white ;
	  color: #222222;
	  /* padding: 10% 10%; */
  }


  /* 표지 미디어쿼리 */
@media (max-width: 3000px) {
    #img2_1{
       margin-left: 15%;
       max-width: 1200px!important;
     }
  }
@media (max-width: 1120px) {
   .img1_1{
      width: 50%;
    }
    #img2_1{
       margin-left: 0%!important;
     }
  }
@media (max-width: 1024px) {
   .img1_1{
      width: 50%;
      top: 20%;
    }
    #hero .hero-container {
      bottom: 32%;
     }
     #img2_1{
      margin-left: 12%;
    }
  }

@media (max-width: 850px) {
   .img1_1{
      position: absolute;
      width: 50%;
      top: 30%;
    }
    #hero .hero-container {
      bottom: 33%;
     }
   .about1 h2{
      font-size: 24px!important;
   }
}

@media (max-width: 640px) {
   .img1_1{
      position: absolute;
      width: 80%;
      top: 45%;
      left: 10%;
    }
    .box1{
      height: 110vh;
      background-color: #000000;
    }
    .div_text1_1{
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      top: 10%;
      left: 10%;
      position: absolute;
    }
    .text1_1 {
      font-size: 2.5rem;
    }
    #hero .hero-container {
      bottom: 55%;
     }
     .contentEmail{
      font-size: 1.5rem!important;
   }
   ::placeholder {
      font-size: 1rem;
     }
     #email{
      width: 100%!important;
   }
 }
@media (max-width: 415px) {
   .img1_1{
      position: absolute;
      width: 85%;
      top: 48%;
      left: 10%;
    }
    .text1_1 {
      font-size: 2rem;
    }
    .div_text1_1{
      top: 15%;
      left: 10%;

    }
    .contentEmail{
      font-size: 0.95rem!important;
   }
   ::placeholder {
      font-size: 0.8rem;
     }
     .submit{
      font-size: 0.8rem;
   }
   #email{
      width: 80%!important;
   }
  }