{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'index.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500&display=swap" rel="stylesheet">
    <title>CLAY :by WEVIVOR</title>
</head>

<body>
    <form action="" method='GET' class="form1">
        {% csrf_token %}
        <div class="box1">
            <img class="img1_1" src="{% static 'images/img_onboarding.png' %}">
            <div class="div_text1_1">
                <span class="text1_1">
                    한 곳에
                    모으고,<br>
                    한 눈에
                    파악하기.</span>
            </div>
        </div>
        <div class="box2">
            <div class="div_container">
                <div class="div_text2_1">
                    <span class="text2_1">
                        카카오톡 '나에게 보내기'했던<br>
                        수많은 링크들,<br>
                        다시 찾아보셨나요?<br>🔗🔗🔗🔗🔗🔗🔗🔗🔗<br>
                    </span>
                </div>
            </div>
            <br><br>
            <video class="img2_1" autoplay controls loop muted poster="{% static 'images/moaa.png' %}" preload="auto">
                <source class="video" src="{% static 'images/img_screen.mov' %}" type="video/mp4">
                video error
            </video>
        </div>
        <span class="text2_1">
            이제 극뽁~~~ 이런,,, 멘트 하나<br>

        </span>

        <div class="d3"></div>
        <div class="box3">
            <div class="dimg3">
                <img class="img3" src="{% static 'images/moa11.png' %}">
            </div>
            <div class="txt3">
                <div class="t1">
                    💡 간편하게! 모든 콘텐츠를 CLAY 하나에 모아 보세요.<br>
                </div>
                계속 담게되는 쇼핑 정보, 다시 봐야 하는 각종 정보들..<br>
                계속 추가되는 맛집 리스트, 다시 보고 싶은 영상들...<br>
                <div class="t2">
                    당신이 스마트폰에서 보는<br>모든 콘텐츠를 클레이에서 모을 수 있어요.
                </div>
            </div>
        </div>
        <br><br>
        <div class="d"></div>
        <div class="box4">
            <div class="txt4">
                <div class="t1">
                    ⚡ 수집한 콘텐츠를 빠르게 다시 찾아보세요!
                </div>
                언제 어디에서 본지 몰라서,<br>
                어떤 내용인지 정확히 기억나지 않아서,<br>
                다시 찾아보지 못했던 콘텐츠들!<br>
                <div class="t2">
                    자동 분류와 키워드 검색으로<br>
                    CLAY에서 더 빨리 더 쉽게 찾아볼 수 있어요.
                </div>
            </div>
            <div>
                <img class="img4" src="{% static 'images/classify.png' %}">
            </div>
        </div>


        <br><br><br>
        <div class="d2"></div>
        <div class="form-wrapper">
            <div>
                <label for="email" class="labelEmail">
                    <span class="contentEmail">누구보다 먼저, &nbsp;CLAY를 경험하세요!</span>
                </label>
            </div>
            <div class="email_field">
                <input type="text" id='email' name='user' autocomplete="off" placeholder="  email 입력" required>
            </div>
            <div>
                <input type="submit" class="submit" value="제출하기">
            </div>
        </div>
        <div class="d1"></div>
    </form>
</body>

</html>