{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'index.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CLAY :by WEVIVOR</title>
</head>

<body>
    <form action="" method='GET' class="form1">
        {% csrf_token %}


        <video autoplay controls loop muted poster="{% static 'images/move.gif' %}" preload="auto">
            <source class="video" src="{% static 'images/video.mp4' %}" type="video/mp4">
            video error
        </video>

        <div class = "onboarding">

        </div>

        <div class="d"></div>
        <img class="img1" src="{% static 'images/moaaa.png' %}">
        <img class="txt1" src="{% static 'images/moaa.png' %}">
        <div class="d1"></div>
        <img class="img1" src="{% static 'images/txt2.png' %}">
        <img class="txt2" src="{% static 'images/moa2.png' %}">
        <br><br><br>
        <div class="d"></div>
        <div class="form-wrapper">
            <div>
                <label for="email" class="labelEmail">
                    <span class="contentEmail">CLAY가 기다려진다면 이메일을 입력해주세요!</span>
                </label>
            </div>
            <div class="email_field">
                <input type="text" id='email' name='user' autocomplete="off" placeholder="  email 입력" required>
            </div>
            <div>
                <input type="submit" class="submit" value="제출하기">
            </div>
        </div>
    </form>
</body>

</html>